<%
var user = APP.user
%>
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#mafia">Mafia</a>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <% if (user) { %>
            <ul class="nav navbar-nav">
                <li class="active"><a href="#get/users/id=<%= user.id %>"><%- user.get('name') %>
                    <span class="sr-only">(current)</span></a></li>
                <li><a href="#bue/freeshki">$: <%- user.get('freeshki') %></a></li>
            </ul>
            <% } %>
            <ul class="nav navbar-nav navbar-right">
                <% if (user) { %>
                <li>
                    <button id="logout" type="button" class="btn btn-default navbar-btn">Log out</button>
                </li>
                <% } else { %>
                <li>
                    <button id="login" type="button" class="btn btn-default navbar-btn">Sign in</button>
                </li>
                <% } %>
            </ul>
        </div>
    </div>
</nav>
