<div id="chat" class="row-height">
    <div class="row-height">
        <div class="col-md-9 row-height padding">
            <div class="panel panel-primary row-height">
                <div id="scroll" class="panel-body" style="height: 87%">
                    <ul id="messages" class="chat">

                    </ul>
                </div>
                <div class="panel-footer">
                    <div class="input-group">
                        <input id="message" type="text" class="form-control input-sm" placeholder="Type your message here..." />
                        <span class="input-group-btn">
                            <button class="btn btn-warning btn-sm" id="send">
                                Send</button>
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <div id="users" class="col-md-3 padding"></div>
    </div>
</div>